In [ ]:
import pandas as pd


df = pd.read_csv('dataset.csv')


print(f"Original Data: {df.shape}")

Original Data: (4424, 35)

In [ ]:


# 1. Clean the Text (The Fix!)
# This removes any hidden spaces at the start or end of the words
df['Target'] = df['Target'].str.strip()

# 2. Filter the rows

df = df[df['Target'] != 'Enrolled']

# 3. Encode the Target

df['Target'] = df['Target'].map({'Dropout': 0, 'Graduate': 1})



print(f"Filtered Data Shape: {df.shape}")

Filtered Data Shape: (3630, 35)

In [ ]:






# 1. Approval Rates (Efficiency)
# Logic: Passed Courses / Enrolled Courses
# A student who passes 1/1 (100%) is safer than one who passes 3/6 (50%).
# +0.001 to avoid "Division by Zero" errors.
df['Sem1_Approval_Rate'] = df['Curricular units 1st sem (approved)'] / (df['Curricular units 1st sem (enrolled)'] + 0.001)
df['Sem2_Approval_Rate'] = df['Curricular units 2nd sem (approved)'] / (df['Curricular units 2nd sem (enrolled)'] + 0.001)

In [ ]:
# 2. Grade Trend (Momentum)
# Logic: Semester 2 Grade - Semester 1 Grade
# Positive = Improving. Negative = Slacking off.
df['Grade_Trend'] = df['Curricular units 2nd sem (grade)'] - df['Curricular units 1st sem (grade)']

In [ ]:
# 3. Overall Academic Performance
# Logic: Average of both semesters to get a stable baseline.
df['Overall_Grade'] = (df['Curricular units 1st sem (grade)'] + df['Curricular units 2nd sem (grade)']) / 2

print("Academic features created.")

Academic features created.

In [ ]:







# 4. Financial Risk Score
# Logic: 'Debtor' (1) is bad. 'Tuition fees up to date' (0) is bad.
# We combine them: Higher Score = Higher Financial Pressure.
# Formula: Debtor Status + (1 if Tuition Not Paid)
df['Financial_Risk_Score'] = df['Debtor'] + (1 - df['Tuition fees up to date'])

In [ ]:
# 5. Struggle Ratio (Effort vs. Result)
# Logic: Evaluations (Exams taken) / Approved (Exams passed).
# A high number means they are taking many exams but failing them (Struggling).
df['Struggle_Ratio'] = df['Curricular units 2nd sem (evaluations)'] / (df['Curricular units 2nd sem (approved)'] + 0.001)

In [ ]:
# 6. Parental Support Score
# Logic: Combining Mother's & Father's Qualification levels.
# This acts as a proxy for "Educational Support at Home".
df['Parent_Qualification_Sum'] = df["Mother's qualification"] + df["Father's qualification"]

print("Dictionary-based features created.")

Dictionary-based features created.

In [ ]:





# Save to a new CSV file
# index=False prevents pandas from adding an extra column of row numbers
df.to_csv('processed_data.csv', index=False)

print("processed_data.csv has been created.")

processed_data.csv has been created.

In [ ]:
print(df.info)

<bound method DataFrame.info of       Marital status  Application mode  Application order  Course  \
0                  1                 8                  5       2
1                  1                 6                  1      11
2                  1                 1                  5       5
3                  1                 8                  2      15
4                  2                12                  1       3
...              ...               ...                ...     ...
4419               1                 1                  6      15
4420               1                 1                  2      15
4421               1                 1                  1      12
4422               1                 1                  1       9
4423               1                 5                  1      15

      Daytime/evening attendance  Previous qualification  Nacionality  \
0                              1                       1            1
1                              1                       1            1
2                              1                       1            1
3                              1                       1            1
4                              0                       1            1
...                          ...                     ...          ...
4419                           1                       1            1
4420                           1                       1           19
4421                           1                       1            1
4422                           1                       1            1
4423                           1                       1            9

      Mother's qualification  Father's qualification  Mother's occupation  \
0                         13                      10                    6
1                          1                       3                    4
2                         22                      27                   10
3                         23                      27                    6
4                         22                      28                   10
...                      ...                     ...                  ...
4419                       1                       1                    6
4420                       1                       1                   10
4421                      22                      27                   10
4422                      22                      27                    8
4423                      23                      27                    6

      ...  Inflation rate   GDP  Target  Sem1_Approval_Rate  \
0     ...             1.4  1.74       0            0.000000
1     ...            -0.3  0.79       1            0.999833
2     ...             1.4  1.74       0            0.000000
3     ...            -0.8 -3.12       1            0.999833
4     ...            -0.3  0.79       1            0.833194
...   ...             ...   ...     ...                 ...
4419  ...             2.8 -4.06       1            0.833194
4420  ...             0.6  2.02       0            0.999833
4421  ...            -0.3  0.79       0            0.999857
4422  ...            -0.8 -3.12       1            0.999800
4423  ...             3.7 -1.70       1            0.999833

      Sem2_Approval_Rate  Grade_Trend  Overall_Grade  Financial_Risk_Score  \
0               0.000000     0.000000       0.000000                     0
1               0.999833    -0.333333      13.833333                     1
2               0.000000     0.000000       0.000000                     1
3               0.833194    -1.028571      12.914286                     0
4               0.999833     0.666667      12.666667                     0
...                  ...          ...            ...                   ...
4419            0.833194    -0.933333      13.133333                     0
4420            0.333278    -1.000000      11.500000                     2
4421            0.124984    -1.412500      14.206250                     0
4422            0.999800    -1.800000      12.900000                     0
4423            0.999833     1.333333      12.333333                     0

      Struggle_Ratio  Parent_Qualification_Sum
0           0.000000                        23
1           0.999833                         4
2           0.000000                        49
3           1.999600                        50
4           0.999833                        50
...              ...                       ...
4419        1.599680                         2
4420        2.998501                         2
4421        8.991009                        49
4422        1.199760                        49
4423        0.999833                        50

[3630 rows x 42 columns]>